<ul class="Navbar"> <%# CSS display:flex changed it to horizontal %>

    <li><a href="/"> Home </a></ll>
    <li><a href="/productManagementAddProduct"> Add Product </a></ll>
    <li><a href="/team"> Teampage</a></li>
    
    <% if (typeof user !== 'undefined') { %>
        <li><a href="/">Home</a></li>
        <li><a href="/logout" class="logout-btn">Logout</a></li>
    <% } else { %>
        <li><a href="/login" class="login-btn">Login</a></li>
        <li><a href="/register">Register</a></li>
    <% } %>
   
    
</ul>