<ul class="Navbar"> <%# CSS display:flex changed it to horizontal %>

    <li><a href="/"> Home </a></ll>
    <li><a href="/productManagementAddProduct"> Add Product </a></ll>
    <li><a href="/team"> Teampage</a></li>
</ul>