<!DOCTYPE html>
<html lang="en">


<head>
    

    <title>ABC USED CAR </title>
    <div class="header">
        <h1>ABC USED CAR</h1>
        <h2>Add - Product</h2>
    </div>

</head>

<body>
    <nav> 
        <%- include('partials/nav') %> <%# navigation %>
    </nav> 
    <a href="/productManagementHistory">Product history</a><br>


    <div class="form-container">
        <form action ="/create" method ="POST" enctype="multipart/form-data"> <!-- enctype for upload file-->
            
                <!-- Image area-->

                <label for="image">Image</label>
                <input type="file" name="image">
            

            
            <div class="form-group">
                <label for="cartype">Type of car:</label>
                    <select name="cartype" id="cartype">
                      <option value="sport">SPORT CAR</option>
                      <option value="super">SUPER CAR</option>
                      <option value="hyper">HYPER CAR</option>
                      <option value="suv">SUV</option>
                      
                    </select>
            </div>
            <div class="form-group">
            <label for="brand">Brand:</label>
                <select name="brand" id="brand">
                    <option value="Alfa Romeo">Alfa Romeo</option>
                    <option value="BMW">BMW</option>
                    <option value="Ford">Ford</option>
                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                    <option value="Aston Martin">Aston Martin</option>
                    <option value="Bugatti">Bugatti</option>
                    <option value="Lamborghini">Lamborghini</option>
                    <option value="Maserati">Maserati</option>
                    <option value="Audi">Audi</option>
                    <option value="Cadillac">Cadillac</option>
                    <option value="Land Rover">Land Rover</option>
                    <option value="Porsche">Porsche</option>
                    <option value="Bentley">Bentley</option>
                    <option value="Ferrari">Ferrari</option>
                    <option value="McLaren">McLaren</option>
                    <option value="Rolls-Royce">Rolls-Royce</option>
                </select>
            </div>

            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" id="model" name="model">
            </div>


            <div class="form-group">
                <label for="mileage">Mileage</label>
                <input type="number" id="mileage" name="mileage">
            </div>

            <div class="form-group">
                <label for="year">Year</label>s
                <input type="number" id="year" name="year">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" style="width:auto; height: 40px;">>
            </div>
            
            <div class="form-group">
                <label for="carcondition">Condition</label>
                <select name="carcondition" id="carcondition">
                  <option value="E">Excellent</option>
                  <option value="G">Good</option>
                  <option value="F">Fair</option>
                </select>
            </div>

            

            <div class="form-group">
                <label for="fuel">Fuel type</label>
                <input type="text" id="fuel" name="fuel">
            </div>

            <div class="form-group">
                <label for="insurance">Insurance(YRS)</label>
                <input type="number" id="insurance" name="insurance">
            </div>


            <div class="form-group">
                <label for="price">Price($)</label>
                <input type="number" id="price" name="price">
            </div>
            <!-- <label class="Certified checkbox"><input type="checkbox" name="Certified" value="Certified Used car"> Certified used car</label> <br> -->
            <button class="submit-btn">Create</button>
        </form>
    </div>

</body>

</html>