<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/detail.css">
    <title>ABC USED CAR</title>
</head>

<body>
    <header>
        <h1>ABC USED CAR</h1>
        <h3>Admin Add User</h3>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/productManagement">Product Management</a>
        <a href="/userManagementOverview">View History</a>
        <a href="/UserManagementEdit">Edit</a>
        <a href="javascript:history.back()">Back</a>
    </nav>
    <main>
        <section>


            <form action="/form-register" method="POST">
                <h3>Add user</h3>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" placeholder="Enter your Firstname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" placeholder="Enter your Lastname"><br><br>

                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" placeholder="Enter your Email"><br>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" placeholder="Enter your Username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" placeholder="Enter your Password"><br><br>

                <input type="submit" value="Save">
                </form>
            </div>
        </section>
    </main>
</body>

</html>