<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/detail.css">
  <title>ABC USED CAR</title>
</head>

<body>
  <header>
    <h1>ABC USED CAR</h1>
    <h3>Admin User Overview</h3>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/productManagement">Product Management</a>
    <a href="/UserManagementAdduser">Add User</a>
    <a href="/UserManagementEdit">Edit User</a>

    <a href="javascript:history.back()">Back</a> <!-- หาพวก syntax ที่กลับไปหน้าเดิม-->

    <form action="/form-search" method="get">
      <input type="text" id="search" name="productSearch" placeholder="Search Product">
      <button type="submit">Search</button>
  </form>
  </nav>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Username</th>
          <th>Password</th>
          <th>Phone Number</th>
          <th>Activate Account</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% user.forEach(function(user) { %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td>********</td> 
          <td><%= user.phonenum %></td>
          <td>
            <label class="switch">
              <button class="edit">Edit</button>
              <input type="checkbox">
              <span class="onoff"></span> 
              <!-- why -->
            </label>
          </td>
          <td><button class="delete">Delete</button></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

</html>