<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/detail.css">
  <title>ABC USED CAR</title>
</head>

<body>
  <header>
    <h1>ABC USED CAR</h1>
    <h3>Admin User Overview</h3>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/productManagement">Product Management</a>
    <a href="/UserManagementAdduser">Add User</a>
    <a href="/UserManagementEdit">Edit User</a>
    <a href="/">back</a> <!-- หาพวก syntax ที่กลับไปหน้าเดิม-->
    <form action="/form-search" method="get">
      <input type="text" id="search" name="productSearch" placeholder="Search Product">
      <button type="submit">Search</button>
  </form>
  </nav>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Username</th>
          <th>Password</th>
          <th>Phone Number</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>user1@example.com</td>
          <td>user1</td>
          <td>********</td>
          <td>123-456-7890</td>
          <td><button class="delete">Delete</button></td>
        </tr>
        <tr>
          <td>user2@example.com</td>
          <td>user2</td>
          <td>********</td>
          <td>345-456-7890</td>
          <td><button class="delete">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>